boto==2.42.0
Flask==0.11.1
Flask-Script==2.0.5
gevent==1.1.2
greenlet==0.4.10
Manager==2.0.5
mysql==0.0.1
MySQL-python==1.2.5
PyYAML==3.11
redis==2.10.5
requests==2.11.0
rq==0.6.0
rq-scheduler==0.7.0
SQLAlchemy==1.0.14
ujson==1.35
uWSGI==2.0.13.1
webargs==1.3.4
Werkzeug==0.11.10
BeautifulSoup
https://cdn.mysql.com/Downloads/Connector-Python/mysql-connector-python-1.0.12.tar.gz